.sidebar {
    width: 20%;
    min-width: 224px;
    background-color: #E4E5E6;
    display: flex;
    justify-content: center;
    font-family: 'IBM Plex Mono', serif;
    font-weight: 600;
    color: #707070;
    font-size: 36px;
}