.search-form {
    width: 100%;
    display: flex;
}

.search-form .search-form__button {
    width: 20%;
    min-width: 171px;
    padding: 13px 64px;
    color: white;
    background-color: #7B8395;
    border: none;
    cursor: pointer;
}

.search-form .search-form__input {
    width: 80%;
    margin-right: 8px;
    background-color: rgba(240,242,244,0.5);
    color: #7B8395;
    padding: 13px 16px 13px 40px;
    background-image: url("./search.svg");
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 16px center;
    border: 1px solid #DEE5EB;
}

.search-form .search-form__input:focus {
    outline: none;
    border: 1px solid #7B8395;
}